fastapi
uvicorn
gunicorn
requests
python-jose
passlib[bcrypt]
httpx
PyJWT
pydantic
dnspython
python-dotenv
slowapi
playwright
python-nmap
beautifulsoup4
defusedxml
defusedcsv
jinja2
colorama
requests-ntlm
httpx-ntlm
requests-toolbelt
